<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Opeity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Opeity.Properties.Settings>
            <setting name="Home" serializeAs="String">
                <value>https://start.duckduckgo.com</value>
            </setting>
            <setting name="WebSecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplicationCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Databases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalStorage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JavascriptAccessClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JavascriptCloseWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileAccessFromFileUrls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plugins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowlessFrameRate" serializeAs="String">
                <value>60</value>
            </setting>
        </Opeity.Properties.Settings>
    </userSettings>
</configuration>
